{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">

<title>Sonic Exploration</title>
</head>
<body>
	<div class="navb">
		<div class="logo">
			Welcome to a study of music
		</div>
		<div class="item">
			<a href="#">About</a>
		</div>
		<div class="item">
			<a href="#">Past Broadcasts</a>
		</div>
		<div class="search">
			<input type="search" placeholder="Search Broadcasts..."/>
		</div>
		<div class="search_btn">
			<input type="button" value="Search"></input
		</div>
	</div>
</body>
</html>
