<!DOCTYPE html>
<html>
  <head>
    {% include "sound/header.html" %}
  </head>
  {%block content%}
  <body>
    {% load staticfiles %}
    <img class="main_img" src="{%static 'media/cds.jpg' %}">
    <br>
    	{% if all_shows %}
    	  <ul>
    	    {% for s in all_shows%}
    	    <li><a href="/sound/{{ s.show_num }}">{{ s.title }}</a></li>
    	    {% endfor %}
    	  </ul>
    	{% else %}
    	  <h3 class="no_show"> No shows yet to display </h3>
    	{% endif %}
  </body>
  {% endblock %}
  {% include "sound/footer.html"%}
</html>
